
h1 {
    color: #c493f1;
        /* color: устанавливает цвет текста. */
    text-align: center;
        /* text-align: выравнивает текст внутри элемента. */
}

p {
    font-size: 15px;
        /* font-size: устанавливает размер шрифта. */
} 

.bold {
    font-weight: bold;
        /* font-weight: задает толщину шрифта. */
}

.container {
    background-color: #c493f1;
        /* background-color: устанавливает цвет фона элемента. */
    height: 65px;
        /*height задает высоту элемента*/
    width: 400px;
        /*width： задает ширину элемента*/
}

.image {
    background-image: url('catphoto.jpg');
        /* background-image: задает фоновое изображение для элемента. */
    height: 400px;
        /*height задает высоту элемента*/
    width: 400px;
        /*width： задает ширину элемента*/
    overflow: hidden;
        /* Overflow — управляет тем, что происходит с содержимым, если оно выходит за границы блока. */
        /* Hidden: содержимое обрезается и лишняя часть становится невидимой. */
}

h2 {
    color: rgb(81, 13, 136);
        /* color: устанавливает цвет текста. */
    font-size: 25px;
        /* font-size: устанавливает размер шрифта. */
}

div {
    padding: 5px;
        /* padding: задает внутренние отступы элемента. */
    margin: 5px;
        /* margin: задает внешние отступы элемента. */
    border: 5px;
        /* border: задает стиль, ширину и цвет границы элемента. */
}

.scroll {
 width: 150px;
        /*width： задает ширину элемента*/
 height: 100px;
        /*height задает высоту элемента*/
 overflow: scroll;
        /* Overflow — управляет тем, что происходит с содержимым, если оно выходит за границы блока. */
        /* Scroll: всегда добавляет полосы прокрутки (даже если они не нужны). */
}

.font {
    font-family: 'Times New Roman', Times, serif;
        /* font-family: задаёт семейство шрифтов для текста. */
}

